
{% extends 'demoapp/base.html' %}
{% load static %}

{% block content %}
{% include 'demoapp/nav_bar.html' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
            <div class="learn">
               <p>WELCOME TO NEWS PAGE</p>
            </div>



            <div class="footer">
                <ul>
                <li><a href="https://www.tutorialspoint.com/html/index.htm">Learn more</a></li>
                <li><a href="#">About us</a></li>
                </ul>
            </div>
{% endblock content %}
